@use 'theme';

@mixin align($property){
  justify-content: $property;
  align-items: $property;
}

.main-header {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  height: 500px;
  width: 100vw;
  @include align(center);
  background-color: theme.$offwhite1;
  background-image: url('../images/binding-dark.png');
  order: 2;
}

@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */
  
  .main-header {
    display: flex;
    flex-direction: column;
    height: 450px;
    @include align(center);
    margin-left: 20px;
    background-color: theme.$offwhite1;
    background-image: url('../images/binding-dark.png');
    order: 2;
    max-width: 20%;
    min-width: 33vw;
  }

}


