@use 'theme';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: theme.$green1;
  background-color: theme.$offwhite1;
  font-size: 24px;
}

/*
 * Additional CSS can be defined below or in other CSS files, as per instructions
 */

body {
  font-family: theme.$fontContent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  background-color: theme.$offwhite1;
  padding: 1em;
  order: 3;
}

.thin {
  font-weight: 300;
}

.shadowed {
  text-shadow: 3px 3px theme.$green1;
}

@media only screen and (min-width: 1024px) {
  /* Write CSS rules that target Laptop/Desktop screen sizes and beyond */

  body {
    display: flex;
    flex-direction: row;
    padding-top: 120px;
    justify-content: center;
    align-items: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60vw;
    background-color: theme.$offwhite1;
    padding: 0em 1em 1em 1em;
    margin-left: 30px;
    order: 3;
  }

}