@use 'theme';

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 120px;
  padding: 1em;

  .title {
    font-family: theme.$fontHeader;
    font-size: 2em;
    color: theme.$red2;
    transform: rotate(-2deg);
  }

  .col {
    flex-direction: column;
  }

  .justify-content-center {
    justify-content: center;
  }

  .flex {
    display: flex;
  }

  .text-center {
    text-align: center;
  }

  .button{
    color: theme.$green1;
    font-weight: 600;
    text-decoration: none;
    border: none;
    border-radius: 0px;
    background-color: Transparent;
    cursor: pointer;
  }

  .bounce{
    position: relative;
    animation: bounce 1s infinite;
  }

}

@keyframes bounce {
  0%   { bottom: 2.5px }
  50%  { bottom: -2.5px }
  100% { bottom: 2.5px }
}