@use 'theme';

.new-tweet {
  display: none;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 20px;

  .submission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: theme.$fontHeader;
    font-size: 0.75em;
    text-shadow:  theme.$textShadowSoft;
    margin-top: 10px;
    padding-top: 20px;
    border-top: theme.$borderThick;
  }
  
  .error {
    color: rgb(162, 0, 0);
    font-family: theme.$fontContent;
    font-weight: 300;
    background-color: rgb(255, 0, 0, 0.1);;
    padding: 3px 5px 3px 25px;
    margin-left: 10px;
    margin-right: 10px;
    flex-grow: 1;
    border-radius: 15px;
    border: 1px solid rgb(162, 0, 0, 0.3);
    line-height: 1em;
    height: 27px;
    opacity: 0;
  }
  
  .panel-hidden {
    display: none;
  }
  
  button {
    border: 0px; 
    padding: 1em;
    font-family: 'Bungee', cursive;
    font-size: 0.75em;
    text-shadow: theme.$textShadowSoft;
    background-color: theme.$red2;
    color: white;
    height: 1.5em;
    line-height: 0em;
  }

  button:hover {
    cursor: pointer;
    background-color: theme.$red2;
  }
  
  #tweet-text {
    border: none;
    background-color: theme.$offwhite1;
    resize: vertical;
    height: 1.2em;
    width: 100%;
  }
  
  #tweet-text:focus {
    outline: none;
  }

  .flash {
    animation: fade 2s ease-in;
  }

}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .new-tweet.panel-hidden {
    display: flex;
  }

}