//colors
$red1: #DB504A;
$red2: #ff6f59;
$green1: #254441;
$green2: #43aa8b;
$green3: #3a9278;
$offwhite1: #f6f6f3;

//fonts
$fontContent: 'Source Sans Pro', sans-serif;
$fontHeader: 'Bungee', sans-serif;

//design
$textShadowSoft: 3px 3px 3px rgb(0,0,0,0.1);
$borderThick: 2px solid #254441;
$shadowBoxy: 5px 5px #254441;

