nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  /* background-color: #DB504A; */
  height: 120px;
  color: #ff6f59;
  padding: 1em;
}

nav > span.title {
  font-family: 'Bungee', cursive;
  font-size: 2em;
  color: #ff6f59;
  transform: rotate(-2deg);
}

nav .col {
  display: flex;
  flex-direction: column;
}

nav .justify-content-center {
  justify-content: center;
}

nav .flex {
  display: flex;
}

nav .text-center {
  text-align: center;
}

nav a.new{
  color: #254441;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  color: #254441;
  text-decoration: none;
}

@keyframes bouncy {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(0deg); }
}