nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 120px;
  padding: 1em;
}
nav .title {
  font-family: "Bungee", sans-serif;
  font-size: 2em;
  color: #ff6f59;
  transform: rotate(-2deg);
}
nav .col {
  flex-direction: column;
}
nav .justify-content-center {
  justify-content: center;
}
nav .flex {
  display: flex;
}
nav .text-center {
  text-align: center;
}
nav .button {
  color: #254441;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 0px;
  background-color: none;
}
nav a:hover {
  color: #254441;
  text-decoration: none;
}
