.new-tweet {
  display: none;
  flex-direction: column;
  font-weight: 600;
  margin-bottom: 20px;
}
.new-tweet .submission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Bungee", sans-serif;
  font-size: 0.75em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding-top: 20px;
  border-top: 2px solid #254441;
}
.new-tweet .error {
  color: #a20000;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  background-color: rgba(255, 0, 0, 0.1);
  padding: 3px 5px 3px 25px;
  margin-left: 10px;
  margin-right: 10px;
  flex-grow: 1;
  border-radius: 15px;
  border: 1px solid rgba(162, 0, 0, 0.3);
  line-height: 1em;
  height: 27px;
  opacity: 0;
}
.new-tweet .panel-hidden {
  display: none;
}
.new-tweet button {
  border: 0px;
  padding: 1em;
  font-family: "Bungee", cursive;
  font-size: 0.75em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  background-color: #ff6f59;
  color: white;
  height: 1.5em;
  line-height: 0em;
}
.new-tweet button:hover {
  cursor: pointer;
  background-color: #ff6f59;
}
.new-tweet #tweet-text {
  border: none;
  background-color: #f6f6f3;
  resize: vertical;
  height: 1.2em;
  width: 100%;
}
.new-tweet #tweet-text:focus {
  outline: none;
}
.new-tweet .flash {
  animation: fade 2s ease-in;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .new-tweet.panel-hidden {
    display: flex;
  }
}
